@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.editBlock {
  margin: 10px;
  background-color: $color-principal;
  color: $color-white;
  @include draggeable(false);

  .titleBlock {
    font-size: 1.2rem;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 0 10px;
    }
  }
}
