@import '../../../../styles/colors';
@import '../../../../styles/variables';

.title {
  color: $color-white;
  padding: 12px;
  text-align: center;
  font-size: 1.5rem;
}

.subtitle {
  color: $color-white;
  text-align: center;
}

.canva {
  min-height: $canvaHeight;
  background-color: $color-white;
  border-radius: 4px;
  padding: 10px;

  .letStart {
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .image {
      max-width: 100%;
      margin: 10px;
    }

    .hint {
      padding: 10px 0;
    }
  }
}
