@import '../../../../styles/colors';

.formGroup {
  .label {
    text-transform: capitalize;
    color: $color-white;
  }
  .input {
    margin-bottom: 20px;
  }
  .error {
    padding: 4px 0;
    color: $color-error;
  }
}
