@import '../../../../styles/colors';

.colorPicker {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .label {
    margin-bottom: 0;
    color: $color-white;
  }

  .inputColor {
    width: 64px;
    background-color: transparent;
    border: 0;
    &:focus {
      box-shadow: none;
    }
  }
}
