@import '../../../../styles/colors';

.errorURLExists {
  color: $color-error;
  margin: 0;
}

.hintUrl {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0;
}

.label {
  color: $color-white;
}
