@import '../../../../styles/colors';

.presentation {
  background-color: $color-principal;
  color: $color-white;
}

.modalActions {
  display: flex;
  justify-content: center;

  .btn {
    margin: 0 10px;
  }
}

.errorText {
  margin: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: auto;

  .startImage {
    margin: auto;
    padding: 10px;
  }

  .emptyLandings {
    text-align: center;
    padding: 10px;
  }
}
