@import '../../../styles/colors';

.buttonFloat {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: $color-green;
  box-shadow: 3px 2px 2px $color-dark-light;
  color: $color-white;
  border-radius: 50px;
  text-align: center;
  border: 0;
  outline: none;
  cursor: pointer;
}
