@import '../../../../styles/colors';

.actions {
  .actionButton {
    margin: 0 4px;
  }
}

.table {
  background-color: transparent;
  tr {
    background-color: $color-blue-dark;
  }
  td {
    background-color: $color-principal;
  }
  thead tr th, tbody tr td {
    border: 0;
  }
}

.noResults {
  padding: 10px;
  display: flex;
  justify-content: center;
  color: $color-white;
}