@import '../../../styles/colors';

.footer {
  padding: 20px;
  background-color: $color-grey;
  margin-top: 10px;

  .text {
    margin-bottom: 0;
    color: $color-dark-light;
    text-align: center;
  }
}
