@import '../../../../styles/colors';

.formMultiple {
  position: relative;

  .label {
    text-transform: capitalize;
    color: $color-white;
  }

  .titleBlock {
    margin: 0;
    text-align: center;
  }

  .stepperWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    p {
      margin: 0;
    }
  }
}
