@import '../../../../styles/colors';

.formMultiple {
  position: relative;
  min-width: 500px;

  .label {
    text-transform: capitalize;
    color: $color-white;
  }

  .stepperWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    position: absolute;
    width: 100%;
    p {
      margin: 0;
    }
  }
}
