@import '../../../styles/colors';
@import '../../../styles/variables';

.footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  background-color: $color-blue-dark;
  flex-direction: column;
  position: relative;

  p {
    margin: 0;
    text-align: center;
  }

  .instagram {
    display: flex;
    span {
      padding-right: 10px;
    }
    @media only screen and (min-width: $desktop) {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}
