@import '../../../styles/colors';

.footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  background-color: $color-dark;
  flex-direction: column;

  p {
    margin: 0;
    text-align: center;
  }
}
