@import '../../../../styles/variables';

.formPassword {
  padding: 20px;
  margin: 50px auto;

  @media only screen and (min-width: $desktop) {
    width: 500px;
  }

  .errorText {
    margin: 10px 0;
  }
}
