// Colors App
$color-white: #fff;
$color-dark: #212121;
$color-dark-light: #424242;
$color-grey: #f5f5f5;
$color-grey-dark: #ddd;
$color-principal: #303f9f;
$color-error: #dc3545;
$color-dark-rgba: rgba(255, 255, 255, 0.2);
$color-green: #28a745;
