@import './animations';

// Mixins App
@mixin draggeable($withAnimation) {
  &:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    @if $withAnimation {
      animation: grab-effect 0.8s infinite;
    }
  }
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

@mixin iconLanguage($icon) {
  margin: 0 8px;
  color: transparent !important;
  font-size: 0.5rem;
  background-image: url($icon);
  background-repeat: no-repeat;
}
