@import './animations';

// Mixins App
@mixin draggeable($withAnimation) {
  &:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    @if $withAnimation {
      animation: grab-effect 0.8s infinite;
    }
  }
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
