@import './variables';
@import './colors';

$default-height-images: 400px;

.home {
  padding-top: $paddingForNav;
  height: 100vh;
  background-color: $color-principal;
  color: $color-white;

  @media only screen and (min-width: $desktop) {
    height: calc(100vh - 68px);
  }

  .welcome {
    padding: 30px;
    text-align: center;

    .subtitle {
      margin-top: 20px;
    }
  }

  .benefits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
    }

    .image {
      max-width: 100%;
      padding: 20px !important;
      border-radius: 0.25rem;
      @media only screen and (min-width: $desktop) {
        padding: 0 !important;
      }
    }

    .list {
      list-style: none;
      .item {
        padding: 10px;
        background: url('/check.svg') no-repeat bottom left;
        background-size: 20px;
        padding: 0 30px;
        margin: 10px 0;
      }
    }
  }

  @media only screen and (min-width: $desktop) {
    .image {
      height: $default-height-images;
    }
  }
}
